h1{
    text-align: center;
}


     /* Styling for each floor */
.fifth1,
.fifth2,
.fourth1,
.fourth2,
.third1,
.third2,
.second1,
.second2,
.first1,
.first2 {
    align-items: center;
    justify-content:first baseline;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  width: 100%;
  height: 2px;
  background-color: #3498db; /* Blue color */
  margin: 70px 0; /* Adjust the gap between floors */
}


  .dropdownDOWN{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
    background-position: right center;
    background-repeat: no-repeat;
    padding: 8px 30px 8px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    margin-right: 10px;
    color: #fff;
    /* Blue color for dropdown */
    background-color: #3498db;
  }

 
  .lift {
    position: absolute;
    width: 120px; /* Adjust the lift's width */
    height: 85px; /* Adjust the lift's height */
    transition: bottom 0.5s ease-in-out; /* Transition for smooth movement */
    margin-bottom: 315px;
  }
  
  #lift1 {
    bottom: 0; /* Position the first lift at the bottom */
    background-color: #3498db; /* Change color for lift 1 */
    left: 150px; /* Adjust horizontal position for lift 1 */
  }
  
  #lift2 {
    bottom: 0; /* Position the second lift at the bottom */
    background-color: #34db4a; /* Change color for lift 2 */
    left: 300px; /* Adjust horizontal position for lift 2 */
  }
  
  #lift3 {
    bottom: 0; /* Position the third lift at the bottom */
    background-color: #3498db; /* Change color for lift 3 */
    left: 450px; /* Adjust horizontal position for lift 3 */
  }
  
  #lift4 {
    bottom: 0; /* Position the fourth lift at the bottom */
    background-color: #ffcc00; /* Change color for lift 4 */
    left: 600px; /* Adjust horizontal position for lift 4 */
  }

  .lift-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    text-indent: 25px;
  }
  